<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Finances", transactions_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Transactions", all_transactions_path %></li>
        <li><%= link_to "Profile", '#' %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
   </div>
</header>